.dropzone {
    background: #fafafa;
    min-height: 30rem;
    border: 0.1rem dashed #bababa;
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bababa;
}
.dropzone input {
    display: none;
}
